src/wsdl/dto4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beadto1="http://brak.de/bea/application/dto/soap/dto1"
            xmlns:beadto2="http://brak.de/bea/application/dto/soap/dto2"
            xmlns:beadto3="http://brak.de/bea/application/dto/soap/dto3"
            xmlns:beadto4="http://brak.de/bea/application/dto/soap/dto4"
			attributeFormDefault="qualified"
			elementFormDefault="qualified"
			targetNamespace="http://brak.de/bea/application/dto/soap/dto4">
            
    <xsd:import namespace="http://brak.de/bea/application/dto/soap/dto1" schemaLocation="dto1.xsd"/>   
    <xsd:import namespace="http://brak.de/bea/application/dto/soap/dto2" schemaLocation="dto2.xsd"/>
    <xsd:import namespace="http://brak.de/bea/application/dto/soap/dto3" schemaLocation="dto3.xsd"/>
    
   <xsd:complexType name="AuthentConfigurationSoapDTO">
        <xsd:sequence>
            <xsd:element name="address" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Adresse des Authentifizierungs-Servers (SAFE-BRAK).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="provider" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Diensteanbieters für die Anmeldung.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sigAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Signatur-Algorithmus.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="receiverServlet" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die URL des Receiver Servlets.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="untrustedCertificate" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Das SSL-Zertifikat eines Testservers(nur für Testbetrieb).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="asymmetricSessionKeyAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Padding Verfahrens, der bei der Verschlüsselung des Nachrichtneschlüssels verwendet wird.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="asymmetricMessageAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Padding Verfahrens, der bei der Verschlüsselung des Session Key verwendet wird.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="signatureScheme" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Padding Verfahrens, der bei der Erstellung von Signaturen verwendet wird.</xsd:documentation></xsd:annotation></xsd:element>					
            <xsd:element name="symmetricSubjectEncryption" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Betreffzeilenverschlüsselung für die Nachrichtenübersicht</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MetaDataSoapDTO">
        <xsd:sequence>
            <xsd:element name="receptionTime" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Zeitpunkt zu dem die Nachricht empfangen wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sender" type="beadto1:RecipientSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Absender der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="addressee" type="beadto1:RecipientSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Der/Die Empfänger der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="subject" type="beadto1:EncryptedDataSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Betreff der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Sender.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumberOpposition" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen der Gegenseite.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceJustice" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Empfänger.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageSigned" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>"true": wenn die Nachricht signiert ist. "false": wenn die Nachricht nicht signiert ist.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="oneAttachmentSigned" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>"true": wenn mind. ein Anhang signiert ist. "false": wenn kein Anhang signiert ist.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="urgent" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Dringend".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="checkRequired" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Zu prüfen".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="confidential" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Persönlich/vertraulich".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="appointment" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="eebId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="eebFremdId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="eebAngefordert" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageStructureType" type="beadto2:MessageStructureTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="originatorCertificate" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="originatorSignatureCertificate" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessageSoapDTO">
        <xsd:sequence>
            <xsd:element name="osciMessageId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die OSCI Nachrichten-Id.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="osciSubject" type="beadto1:OSCISubjectTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der OSCI Betreff der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attachments" type="beadto4:AttachmentSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die Anhänge der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="encryptedObject" type="beadto4:EncryptedObjectSoapDTO" maxOccurs="unbounded" minOccurs="1"><xsd:annotation><xsd:documentation>Die verschlüsselten Bestandteile einer Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="metaData" type="beadto4:MetaDataSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Meta-Daten der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="newEGVPMessage" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Flag für neu eigegangene EGVP-Nachricht (noch kein Laufzettel entschlüsselt).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="certificateMap" type="beadto1:CertificateMapSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Zertifikats-Map für jedes in der Nachricht vorkommende Postfach.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="version" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Versionsnummer der Nachricht in der Datenbank.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="symEncAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Verschlüsselung</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="EncryptedObjectSoapDTO">
        <xsd:sequence>
            <xsd:element name="enc_data" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die verschlüsselten Daten des Objekts.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="enc_iv" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Initialisierungsvektor des verschlüsselten Objekts.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="enc_tag" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Authentication-Tag des verschlüsselten Objekts.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="enc_name" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des verschlüsselten Objekts.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="encKeyInfo" type="beadto1:EncKeyInfoSoapDTO" maxOccurs="unbounded" minOccurs="1"><xsd:annotation><xsd:documentation>Die Schlüsselinformationen zum verschlüsselten Objekt.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessagesSoapDTO">
        <xsd:sequence>
            <xsd:element name="message" type="beadto4:MessageSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageInfo" type="beadto4:MessageInfoSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessageListSoapDTO">
        <xsd:sequence>
            <xsd:element name="messagesSoapDTO" type="beadto4:MessagesSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ProcessCardSoapDTO">
        <xsd:sequence>
            <xsd:element name="processCardId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id des Laufzettels.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id der Nachricht zu welcher der Laufzettel gehört.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="conversationId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Conversation-Id aus dem entschlüsselten Laufzettel.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="type" type="xsd:long" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Typ aus dem entschlüsselten Laufzettel.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="challange" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Challenge-Text aus dem entschlüsselten Laufzettel.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="data" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die verschlüsselten Daten des Laufzettels.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="data_iv" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Initialisierungsvektor des Laufzettels falls mit GCM verschlüsselt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="data_tag" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Das Authentication-Tag Laufzettels, falls mit GCm verschlüsselt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="symEncAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Conversation-Id aus dem entschlüsselten Laufzettel.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="encKey" type="beadto1:EncryptedDataSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der verschlüsselte Schlüssel für die entschlüsselung des Laufzettels.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="processCard" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Verschlüsselung</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
     <xsd:complexType name="ProcessCardsSoapDTO">
        <xsd:sequence>
            <xsd:element name="processcards" type="beadto4:ProcessCardSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste an Laufzetteln.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
     <xsd:complexType name="AttachmentSoapDTO">
        <xsd:sequence>
            <xsd:element name="reference" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Referenz auf die angehängte Datei: Dateiname</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="alias" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Alias des Anhangs.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="data" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der verschlüsselte Anhang in base64 kodierter Binärdarstellung.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="iv" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Initialisierungsvektor des verschlüsselten Anhangs, falls mit GCM verschlüsselt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="tag" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Authentication-Tag des verschlüsselten Anhangs, falls mit GCM verschlüsselt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="key" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der verschlüsselte Nachrichtenschlüssel.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="type" type="beadto2:AttachmentTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Typ des Anhangs.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sizeKB" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Größe des (unverschlüsselten) Anhangs in KB.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sizeEncryptedKB" type="xsd:long" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Größe des (verschlüsselten) Anhangs in KB.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="hashValue" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Hash-Wert (SHA256) des Anhangs.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="symEncAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Verschlüsselung.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessageInfoSoapDTO">
        <xsd:sequence>
            <xsd:element name="messageId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sender" type="beadto2:IdentitySoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Absender der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Sender.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumberOpposition" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen der Gegenseite.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumberJustice" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Empfänger.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="created" type="xsd:dateTime" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Zeitpunkt an dem die Nachricht erstellt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sent" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Zeitpunkt an dem die Nachricht versandt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="received" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Zeitpunkt an dem die Nachricht empfangen wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="appointment" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="urgent" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Dringend".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="checkRequired" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Zu prüfen".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="confidential" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Persönlich/vertraulich".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="folderId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id des Ordners in dem die Nachricht liegt.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="addressees" type="beadto2:IdentityListSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Empfänger der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attributes" type="beadto1:AttributeSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="comments" type="beadto2:CommentSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die Kommentare der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="labels" type="beadto1:LabelSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attachments" type="beadto4:AttachmentSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die unverschlüsselten Informationen über die Anhänge der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="readFlags" type="beadto2:IdentityListSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste der Benutzer welche die Nachricht bereits gelesen haben.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
     <xsd:complexType name="MessageOverviewSoapDTO">
        <xsd:sequence>
            <xsd:element name="messageId" type="xsd:long"><xsd:annotation><xsd:documentation>Die Id der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="encSubject" type="beadto1:EncryptedDataSoapDTO"><xsd:annotation><xsd:documentation>Der verschlüsselte Betreff der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="symEncAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Verschlüsselung.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
     <xsd:complexType name="FolderOverviewSoapDTO">
        <xsd:sequence>
            <xsd:element name="messageOverview" type="beadto4:MessageOverviewSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste aller Nachrichten in einem Ordner.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SearchAddresseeSoapDTO">
        <xsd:sequence>
            <xsd:element name="identitySafeId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die SafeID des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityStatus" type="beadto1:IdentityStatusSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Der Status des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityType" type="beadto1:IdentityTypeSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Der Typ des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityUsername" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Benutzername des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityFirstname" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Vorname des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identitySurname" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Nachname des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityPostalcode" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Postleitzahl des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityCity" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Ort des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityChamberType" type="beadto1:ChamberTypeSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die RAK des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityChamberMembershipId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die (Kammer-)Mitgliedsnummer des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identityOfficeName" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Name der Kanzlei des gesuchten Adressaten.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
