src/wsdl/dto5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beadto1="http://brak.de/bea/application/dto/soap/dto1"
            xmlns:beadto2="http://brak.de/bea/application/dto/soap/dto2"
            xmlns:beadto3="http://brak.de/bea/application/dto/soap/dto3"
            xmlns:beadto4="http://brak.de/bea/application/dto/soap/dto4"
            xmlns:beadto5="http://brak.de/bea/application/dto/soap/dto5"
			attributeFormDefault="qualified"
			elementFormDefault="qualified"
			targetNamespace="http://brak.de/bea/application/dto/soap/dto5">
            
    <xsd:import namespace="http://brak.de/bea/application/dto/soap/dto1" schemaLocation="dto1.xsd"/>   
    <xsd:import namespace="http://brak.de/bea/application/dto/soap/dto2" schemaLocation="dto2.xsd"/>
    <xsd:import namespace="http://brak.de/bea/application/dto/soap/dto3" schemaLocation="dto3.xsd"/>
    <xsd:import namespace="http://brak.de/bea/application/dto/soap/dto4" schemaLocation="dto4.xsd"/>
    
   <xsd:complexType name="AuthentConfigurationSoapDTO">
        <xsd:sequence>
            <xsd:element name="address" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Adresse des Authentifizierungs-Servers (SAFE-BRAK).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="provider" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Diensteanbieters für die Anmeldung.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sigAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Signatur-Algorithmus.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="receiverServlet" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die URL des Receiver Servlets.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="untrustedCertificate" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Das SSL-Zertifikat eines Testservers(nur für Testbetrieb).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="asymmetricSessionKeyAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Padding Verfahrens, der bei der Verschlüsselung des Nachrichtneschlüssels verwendet wird.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="asymmetricMessageAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Padding Verfahrens, der bei der Verschlüsselung des Session Key verwendet wird.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="signatureScheme" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Name des Padding Verfahrens, der bei der Erstellung von Signaturen verwendet wird.</xsd:documentation></xsd:annotation></xsd:element>					
            <xsd:element name="symmetricSubjectEncryption" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Betreffzeilenverschlüsselung für die Nachrichtenübersicht</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="productNameAndVersion" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Produktname und Version für die Herstellerinformationen</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="producer" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Hersteller für die Herstellerinformationen</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="registrationId" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Registrierungs-ID für die Herstellerinformationen</xsd:documentation></xsd:annotation></xsd:element>           
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AccessRightListSoapDTO">
        <xsd:sequence>
            <xsd:element name="accessRightsSoapDTO" type="beadto5:AccessRightDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Berechtigung.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AccessRightDTO">
        <xsd:sequence>
            <xsd:element name="postboxSafeId" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die SafeId des Postfachbesitzers auf dessen Postfach das Recht besteht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="identitySafeId" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die SafeId des Benutzers für den das Recht besteht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="privilege" type="beadto5:PrivilegeTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Das erteilte Recht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="from" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Datum ab dem das Recht gültig ist.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="until" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Datum bis wann das Recht gültig ist.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessageOverviewSoapDTO">
        <xsd:sequence>
            <xsd:element name="messageId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="encSubject" type="beadto1:EncryptedDataSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der verschlüsselte Betreff der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="symEncAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Verschlüsselung.</xsd:documentation></xsd:annotation></xsd:element>
        	<xsd:element name="sender" type="beadto5:IdentitySoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Absender der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="addressees" type="beadto5:IdentityListSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Empfänger der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="zugegangen" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Zugegangen: Der Zeitpunkt an dem die Nachricht zugegangen ist.</xsd:documentation></xsd:annotation></xsd:element>
			<xsd:element name="sent" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Gesendet: Der Zeitpunkt an dem die Nachricht versandt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="received" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Erhalten: Der Zeitpunkt an dem die Nachricht empfangen wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="egvpStatus" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Übermittlungsstatus einer EGVP-Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attachments" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht enthält einen Anhang/Anhänge.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="readFlags" type="beadto5:IdentityListSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste der Benutzer welche die Nachricht bereits gelesen haben.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Sender.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumberJustice" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Empfänger.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="osciMessageId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die OSCI Nachrichten-Id.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="osciSubjectType" type="beadto1:OSCISubjectTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der OSCI Nachrichtentyp der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="deletion" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Datum an dem die Nachricht in den Papierkorb verschoben wird.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="permanentDeletion" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Datum an dem die Nachricht endgültig gelöscht wird.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="urgent" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Dringend".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="checkRequired" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Zu prüfen".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="confidential" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Persönlich/vertraulich".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="labels" type="beadto1:LabelSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Alle Etiketten die zu dieser Nachricht gehören.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="folderId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id des Ordners in dem die Nachricht liegt.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="postbox" type="beadto5:PostboxSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Das Postfach in Nachricht liegt.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="exported" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht wurde als "exportiert" markiert.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="FolderOverviewSoapDTO">
        <xsd:sequence>
            <xsd:element name="messageOverview" type="beadto5:MessageOverviewSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste aller Nachrichten in einem Ordner.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MetaDataSoapDTO">
        <xsd:sequence>
        	<xsd:element name="created" type="xsd:dateTime" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Zeitpunkt an dem die Nachricht erstellt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="receptionTime" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Erhalten: Der Zeitpunkt zu dem die Nachricht empfangen wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="zugegangen" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Zugegangen: Der Zeitpunkt an dem die Nachricht zugegangen ist.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sender" type="beadto1:RecipientSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Absender der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="addressee" type="beadto1:RecipientSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Der/Die Empfänger der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="subject" type="beadto1:EncryptedDataSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Betreff der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Sender.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumberOpposition" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen der Gegenseite.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceJustice" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Empfänger.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageSigned" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>"true": wenn die Nachricht signiert ist. "false": wenn die Nachricht nicht signiert ist.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="oneAttachmentSigned" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>"true": wenn mind. ein Anhang signiert ist. "false": wenn kein Anhang signiert ist.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="urgent" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Dringend".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="checkRequired" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Zu prüfen".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="confidential" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Persönlich/vertraulich".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="appointment" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="eebId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="eebFremdId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="eebAngefordert" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageStructureType" type="beadto2:MessageStructureTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation></xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="originatorCertificate" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="originatorSignatureCertificate" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessageSoapDTO">
        <xsd:sequence>
            <xsd:element name="osciMessageId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die OSCI Nachrichten-Id.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="osciSubject" type="beadto1:OSCISubjectTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der OSCI Betreff der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attachments" type="beadto4:AttachmentSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die Anhänge der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="comments" type="beadto2:CommentSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die Kommentare der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="encryptedObject" type="beadto4:EncryptedObjectSoapDTO" maxOccurs="unbounded" minOccurs="1"><xsd:annotation><xsd:documentation>Die verschlüsselten Bestandteile einer Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="metaData" type="beadto5:MetaDataSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Meta-Daten der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="newEGVPMessage" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Flag für neu eigegangene EGVP-Nachricht (noch kein Laufzettel entschlüsselt).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="certificateMap" type="beadto1:CertificateMapSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Zertifikats-Map für jedes in der Nachricht vorkommende Postfach.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="version" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Versionsnummer der Nachricht in der Datenbank.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="symEncAlgorithm" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Beschreibt den symmetrischen Algorithmus der Verschlüsselung</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessagesSoapDTO">
        <xsd:sequence>
            <xsd:element name="message" type="beadto5:MessageSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MessageListSoapDTO">
        <xsd:sequence>
            <xsd:element name="messagesSoapDTO" type="beadto5:MessagesSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="PostboxSoapDTO">
        <xsd:sequence>
            <xsd:element name="postboxSafeId" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die SafeID des Postfachs.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="displayName" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Ein Name zu dem Postfach - dieser wird auf gleiche Weise aggregiert wie in der Weboberfläche des beA.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="folder" type="beadto1:FolderSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Alle Ordner die zu diesem Postfach gehören.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="label" type="beadto1:LabelSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Alle Etiketten die zu diesem Postfach gehören.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="PostboxesSoapDTO">
        <xsd:sequence>
            <xsd:element name="postbox" type="beadto5:PostboxSoapDTO" maxOccurs="unbounded" minOccurs="1"><xsd:annotation><xsd:documentation>Alle Postfächer auf denen der eingeloggte Benutzer das Recht "Nachrichtenübersicht öffnen" besitzt.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SessionKeySoapDTO">
        <xsd:sequence>
            <xsd:element name="sessionKey" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der verschlüsselte Session Key für die aktuelle Session.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="safeId" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die SafeID des gerade angemeldeten Benutzers.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IdentitySoapDTO">
        <xsd:sequence>
            <xsd:element name="identityId" type="xsd:long" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Id der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="safeId" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die SafeId der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="personId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Personen Id der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="status" type="beadto1:IdentityStatusSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Status der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="type" type="beadto1:IdentityTypeSoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Typ der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="raType" type="beadto5:IdentityRaTypeSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Anwaltstyp der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="formOfAdress" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Art der Anrede der Identität (Herr/Frau).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="title" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Titel der Identität (Dr. usw.).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="titlePassportAct" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Titel gemäß Passgesetz der Identität, Kurzform des Titels zur Anzeige auf der beA Karte und in Korrespondenzen</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="postTitle" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Nachtitel der Identität (z.B. LL.M., M.A.).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="username" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Benutzername der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="firstname" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Vorname der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="surname" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Nachname / Berufsname der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="familyname" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Familienname der Identität, falls abweichend.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="officeName" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Kanzleiname der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="coName" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der c/o Name der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="street" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Straße der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="streetnumber" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Straßennummer der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="postalcode" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Postleitzahl der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="city" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Ort der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="federalState" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Das Bundesland der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="country" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Das Land der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="email" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Email-Adresse der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="phone" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Telefonnummer der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="mobile" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Mobilnummer der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="fax" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Faxnummer der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="internetAddress" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die URL (Adresse) der Website der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="organization" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Organisation der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="organizationExtension" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Organisations-Zusatz der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="chamber" type="beadto1:ChamberTypeSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Rechtsanwaltskammer der Identität.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="chamberMembershipId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die (Kammer-)Mitgliedsnummer der Identität.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IdentityListSoapDTO">
        <xsd:sequence>
            <xsd:element name="addressee" type="beadto5:IdentitySoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste von Identitäten.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JournalListSoapDTO">
        <xsd:sequence>
            <xsd:element name="journals" type="beadto5:JournalSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste an Journal-Einträgen.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MessageInfoSoapDTO">
        <xsd:sequence>
            <xsd:element name="messageId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sender" type="beadto5:IdentitySoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Absender der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Sender.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumberOpposition" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen der Gegenseite.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceNumberJustice" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Aktenzeichen Empfänger.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="created" type="xsd:dateTime" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Zeitpunkt an dem die Nachricht erstellt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sent" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Zeitpunkt an dem die Nachricht versandt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="received" type="xsd:dateTime" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Der Zeitpunkt an dem die Nachricht empfangen wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="appointment" type="xsd:date" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="urgent" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Dringend".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="checkRequired" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Zu prüfen".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="confidential" type="xsd:boolean" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Nachricht gilt als "Persönlich/vertraulich".</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="folderId" type="xsd:long" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Id des Ordners in dem die Nachricht liegt.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="addressees" type="beadto5:IdentityListSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Die Empfänger der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attributes" type="beadto1:AttributeSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="comments" type="beadto2:CommentSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die Kommentare der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="labels" type="beadto1:LabelSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attachments" type="beadto2:AttachmentSoapDTO" maxOccurs="unbounded" minOccurs="0"><xsd:annotation><xsd:documentation>Die unverschlüsselten Informationen über die Anhänge der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="readFlags" type="beadto2:IdentityListSoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Eine Liste der Benutzer welche die Nachricht bereits gelesen haben.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="JournalSoapDTO">
        <xsd:sequence>
            <xsd:element name="journalType" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Typ des Journals (Nachrichtenjournal, Postfachjournal, Benutzerjournal oder Systemjournal).</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="eventType" type="xsd:string" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Typ des Events welches den Journal-Eintrag ausgelöst hat.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="messageId" type="xsd:long" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Wenn es sich um ein Nachrichtenjournal-Eintrag handelt: die Id der Nachricht.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="attachmentReference" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Wenn es sich um ein Nachrichtenjournal-Eintrag handelt: der Dateiname des angehängten Anhangs.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="postboxSafeId" type="xsd:string" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>Wenn es sich um ein Nachrichtenjournal-Eintrag handelt: die SafeId des Postfachs in der die Nachricht liegt welche den Journal-Eintrag ausgelöst hat. Wenn es sich um ein Postfachjournal-Eintrag handelt: die SafeID des Postfachs welche den Journal-Eintrag ausgelöst hat.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="sourceIdentity" type="beadto5:IdentitySoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Identität die den Journal-Eintrag ausgelöst hat.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="targetIdentity" type="beadto5:IdentitySoapDTO" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Die Identität für die der Journal-Eintrag erstellt wurde.</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="referenceIdentity" type="beadto5:IdentitySoapDTO" maxOccurs="1" minOccurs="0"><xsd:annotation><xsd:documentation>deprecated</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="timestamp" type="xsd:dateTime" maxOccurs="1" minOccurs="1"><xsd:annotation><xsd:documentation>Der Zeitstempel des Journal-Eintrags.</xsd:documentation></xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
        
    <xsd:simpleType name="IdentityRaTypeSoapDTO">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RECHTSANWALT"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: Rechtsanwalt</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="EU_ANWALT"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: Niedergelassener europäischer Rechtsanwalt</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="WHO_ANWALT"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: Rechtsanwalt aus anderen Staaten gemäß §206 BRAO</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="SYNDIKUS"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: Syndikusrechtsanwalt</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="EU_SYNDIKUS"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: Niedergelassener europäischer Syndikusrechtsanwalt</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="WHO_SYNDIKUS"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: Syndikusrechtsanwalt aus anderen Staaten gemäß §206 BRAO</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="RECHTSBEISTAND"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: Verkammerter Rechtsbeistand</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="DL_EU_ANWALT"><xsd:annotation><xsd:documentation>Anwaltstyp der Identität: dienstleistender europäischer Rechtsanwalt</xsd:documentation></xsd:annotation></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="PrivilegeTypeSoapDTO">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PRV_UEBERSICHT_UEBER_POSTFACH"><xsd:annotation><xsd:documentation>Recht: Nachrichtenübersicht öffnen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VOLLSTAENDIGES_LESEN"><xsd:annotation><xsd:documentation>Recht: Nachricht öffnen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_LESEN_PERSOENLICH_VERTRAULICH"><xsd:annotation><xsd:documentation>Recht: Nachricht (persönlich/vertraulich) öffnen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ORGANISIEREN_EINER_NACHRICHT"><xsd:annotation><xsd:documentation>Recht: Nachricht organisieren</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERSCHIEBEN_IN_PAPIERKORB"><xsd:annotation><xsd:documentation>Recht: Nachricht in Papierkorb verschieben</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ENDGUELTIGES_LOESCHEN"><xsd:annotation><xsd:documentation>Recht: Nachricht löschen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ERSTELLEN_VON_NACHRICHTENENTWUERFEN"><xsd:annotation><xsd:documentation>Recht: Nachricht erstellen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ANTWORTEN_VOM_EIGENEN_POSTFACH"><xsd:annotation><xsd:documentation>Recht: Antworten vom eigenem Postfach für Abwickler</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_SIGNIEREN_VON_NICHT_PERSOENLICHEN_EBS"><xsd:annotation><xsd:documentation>Recht: EBs signieren</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERSENDEN_VON_NICHT_PERSOENLICHEN_EBS"><xsd:annotation><xsd:documentation>Recht: EBs versenden </xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_SIGNIEREN_VON_PERSOENLICHEN_EBS"><xsd:annotation><xsd:documentation>Recht: EBs signieren (persönlich/vertrauliche Nachrichten)</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERSENDEN_VON_PERSOENLICHEN_EBS"><xsd:annotation><xsd:documentation>Recht: EBs versenden (persönlich/vertrauliche Nachrichten)</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_SIGNIEREN_VON_NACHRICHTEN"><xsd:annotation><xsd:documentation>Recht: Nachricht signieren</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERSENDEN_VON_NACHRICHTEN_AN_DEFINIERTE_POSTFAECHER"><xsd:annotation><xsd:documentation>Recht: Nachricht versenden</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_EXPORTIEREN_DRUCKEN_DER_UEBERSICHT_DES_POSTFACHS"><xsd:annotation><xsd:documentation>Recht: Nachrichtenübersicht exportieren/drucken</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_EXPORTIEREN_DRUCKEN_VON_NACHRICHTEN"><xsd:annotation><xsd:documentation>Recht: Nachricht exportieren/drucken</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_EXPORTIEREN_DRUCKEN_VON_PERSOENLICH_VERTRAULICH"><xsd:annotation><xsd:documentation>Recht: Nachricht (persönlich/vertraulich) exportieren/drucken</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ZURUECKWEISEN_VON_NACHRICHTEN"><xsd:annotation><xsd:documentation>Recht: EBs zurückweisen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWALTUNG_VON_MITARBEITERN"><xsd:annotation><xsd:documentation>Recht: Mitarbeiter verwalten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWALTUNG_VON_BERECHTIGUNGEN"><xsd:annotation><xsd:documentation>Recht: Berechtigungen verwalten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_EINGESCHRAENKTE_PFLEGE_DES_VERZEICHNISEINTRAGS"><xsd:annotation><xsd:documentation>Recht: Verzeichnisdatenpflege persönlicher Postfächer</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ERSTELLUNG_PERSOENLICHE_BERICHTE"><xsd:annotation><xsd:documentation>Recht: Berichte erstellen und verwalten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWALTUNG_VON_POSTFAECHERN"><xsd:annotation><xsd:documentation>Recht: Postfächer verwalten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_AENDERN_DER_EIGENEN_ZUGANGSDATEN"><xsd:annotation><xsd:documentation>Recht: Ändern der eigenen Zugangsdaten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_LOESCHEN_DER_EIGENEN_ZUGANGSDATEN"><xsd:annotation><xsd:documentation>Recht: Löschen der eigenen Zugangsdaten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_PFLEGE_DER_VERZEICHNISSE"><xsd:annotation><xsd:documentation>Recht: Pflege der Verzeichnisse</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWALTUNG_VON_VERTEILERN"><xsd:annotation><xsd:documentation>Recht: Verteilerlisten verwalten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWENDEN_SYSTEMJOURNAL"><xsd:annotation><xsd:documentation>Recht: Verwenden des Systemjournals</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ERSTELLUNG_BERICHTE_FUER_EINE_RAK"><xsd:annotation><xsd:documentation>Recht: Berichte erstellen (RAK)</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ERSTLLUNG_BERICHTE_FUER_DIE_BEA_ANWENDUNG"><xsd:annotation><xsd:documentation>Recht: Berichte erstellen (beA)</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_POSTFAECHER_AUFLISTEN"><xsd:annotation><xsd:documentation>Recht: Postfächer auflisten</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_POSTFACH_DETAILANSICHT"><xsd:annotation><xsd:documentation>Recht: Postfachdetails öffnen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWENDUNG_NUTZERJOURNAL"><xsd:annotation><xsd:documentation>Recht: Verwenden Nutzerjournal</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_BENUTZER_ANZEIGEN"><xsd:annotation><xsd:documentation>Recht: Benutzer anzeigen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWENDUNG_ADMINISTRATION"><xsd:annotation><xsd:documentation>Recht: Verwaltung von Benutzern</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_VERWENDUNG_POSTFACHJOURNAL_NACHRICHTENJOURNAL"><xsd:annotation><xsd:documentation>Recht: Postfach- und Nachrichtenjournal verwenden</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_BENUTZER_ZURUECKSETZEN"><xsd:annotation><xsd:documentation>Recht: Benutzer zurücksetzen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_SECURITY_TOKEN_LOESCHEN"><xsd:annotation><xsd:documentation>Recht: Sicherheits Token löschen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ORGANISATIONSPOSTFACHDATEN_PFLEGEN"><xsd:annotation><xsd:documentation>Recht: Organisationspostfachdaten pflegen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_ZENTRALE_EINSTELLUNGEN_PFLEGEN"><xsd:annotation><xsd:documentation>Recht: Zentrale Einstellungen pflegen</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="PRV_KORRESPONDENZANSCHRIFT_ANZEIGEN"><xsd:annotation><xsd:documentation>Recht: Korrespondenzanschrift anzeigen</xsd:documentation></xsd:annotation></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>
